.selectContainer {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
}

.selectLabel {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  margin-bottom: 4px;
}

.contactSelect {
  position: relative;
  z-index: 1;
  border: 1px solid #cbd2e0;
  height: 44px;
  width: 283px;
  border-radius: 6px;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding-left: 10px;
}

.removeBottomBorder {
  border-radius: 6px 6px 0 0;
}

.contactSelect::before {
  content: url("../../../public/assets/select-arrow.png");
  position: absolute;
  right: 10px;
  width: 24px;
  height: 24px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.rotateArrow::before {
  transform: rotate(180deg);
}

.selectDropdown {
  padding: 4px;
  border: 1px solid #cbd2e0;
  width: 283px;
  position: absolute;
  z-index: 2;
  background-color: #fff;
  margin-top: 63px;
  border-radius: 0 0 6px 6px;
}

.dropdownItem {
  padding: 8px 12px 8px 12px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  cursor: pointer;
}
